$em-base: 18px;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-em($value, $base-value: $em-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

@function em-calc($values, $base-value: $em-base) {
  $max: length($values);

  @if $max == 1 { @return convert-to-em(nth($values, 1), $base-value); }

  $emValues: ();
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i), $base-value));
  }
  @return $emValues;
}

// Colors
$green: #acca32;
$dark-green: #8fa82a;
$teal: #23a38f;
$dark-teal: #1a7a6c;
$yellow: #fcc721;
$black: #242529;
$dark-black: #1c1c1e;
$light-grey: #ededed;
$grey: #b2b2b2;
$medium-grey: #979797;
$dark-grey: #5e5e5e;

// Vertical Spacing
$paragraph-margin: 30;
$content-block-margin: 100;
$mobile-paragraph-margin: 24;
$mobile-content-block-margin: 60;

// Grid widths
$column-width: 70;
$gutter-width: 30;

// Fonts
$heading-font: 'effra', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;
$icon-font: 'icomoon';

// Icons
$icon-monkee: "\f002";
