.blog-header {
  position: relative;
  background-size: cover;
  background-position: center center;
  padding-top: em-calc(36);
  border-bottom: 4px solid $grey;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: $teal;
    @include opacity(0.8);
  }
  &.listing-page {
    padding-bottom: em-calc(120);
    &:after { background-color: $green; }
  }
  .blog-nav { margin-bottom: 0; }
  .row {
    position: relative;
    z-index: 1;
  }
  .blog-logo {
    float: left;
    font-size: 38px;
    font-weight: bold;
    font-family: $heading-font;
    color: #fff;
    text-transform: uppercase;
    &:before {
      content: "";
      display: inline-block;
      width: 91px;
      height: 95px;
      vertical-align: middle;
      margin-right: 10px;
      background: url(../images/logo-white.png) no-repeat center center;
    }
  }

  .menu-lite {
    float: right;
    padding: 1em 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 26px;
    a {
      color: #fff;
      &:hover, &:focus {
        color: $red;
        text-decoration: none;
      }
    }
  }

}

.post-header {
  text-align: center;
  h1 {
    max-width: 800px;
    margin: 80px auto;
    color: #fff;
  }
  .author-pic {
    display: inline-block;
    width: 100px;
    @include border-radius(50%);
  }
  .source {
    display: block;
    font-size: 24px;
    font-family: $heading-font;
    font-weight: bold;
    color: $yellow;
    text-transform: uppercase;
  }
  .menu-lite {
    color: #fff;
    float: none;
  }
}

.featured-post {
  margin-bottom: em-calc(100);
  .header-meta {
    position: relative;
    @include span(8 of 12);
  }
  .bg {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 66.67%;
    &:after {
      content: "";
      position: absolute;
      left: 0; right: 0;
      top: 0; bottom: 0;
      background-color: rgba($teal, 0.75);
    }
  }
  .title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 em-calc(40);
    @include translate(0, -50%);
    text-align: center;
    h1 {
      color: #fff;
    }
    .source {
      font-size: 24px;
      font-family: $heading-font;
      font-weight: bold;
      color: $yellow;
      text-transform: uppercase;
    }
  }
  .excerpt {
    @include span(4 of 12);
  }
  .menu-lite { margin-bottom: em-calc(10); }
  .more-link {
    float: right;
    color: $teal;
    &:after { content: " \00bb"; }
  }
}

.post-panel {
  margin-bottom: em-calc(40);
  .post-panel-inside {
    background: #fefefe;
  }

  h4 {
    margin: 0;
    padding: 25px;
  }

  a {
    color: $dark-teal;
    font-size: 18px;
    font-weight: normal;
  }
}

.blog-list {
  .filter-bar {
    text-align: center;
    margin-bottom: em-calc(50);
    label {
      color: $grey;
      display: inline-block;
      vertical-align: middle;
      margin: 10px 20px 0 0;
    }
    .select-box {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.paging {
  text-align: center;
  .load-more {
    width: 100%;
    max-width: 1080px;
  }
}

// single post content
.single-post {
  @include span(8 of 12);
  float: none;
  margin: 0 auto;
  blockquote {
    float: left;
    width: 62.5%;
    margin-left: -12.5%;
    margin-right: #{$gutter-width/2}px;
    padding-right: #{$gutter-width/2}px;
  }
}

// blog-only content styles
.large-photo {
  background-color: #fff;
  padding: em-calc(40) 0 em-calc(24);
  margin: 0 0 em-calc(40);
  img {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  figcaption {
    text-align: center;
    color: $grey;
    margin-top: em-calc(24, 18);
  }
}

.share-section {
  @include clearfix;
  h4 {
    float: left;
    margin: em-calc(12, 24) 0;
  }
  ul {
    float: right;
  }
  li {
    display: inline-block;
    padding-left: em-calc(14);
  }
  a {
    display: block;
    position: relative;
    padding: em-calc(5, 24) em-calc(10, 24);
    font-size: 24px;
    color: $grey;
    border: 4px solid #fff;
    overflow: hidden;
    &:before {
      @extend .icon;
      padding-right: em-calc(18, 24);
      display: inline-block;
      margin-top: -4px;
      vertical-align: middle;
    }
    &.twitter:before { content: $icon-twitter; }
    &.facebook:before { content: $icon-facebook; }
    &.pinterest:before { content: $icon-pinterest; }
    &:after {
      content: "";
      position: absolute;
      left: -110px;
      top: -240px;
      display: block;
      width: 200px;
      height: 200px;
      background-color: #fff;
      @include rotate(45deg);
      @include transition(transform 0.5s ease);
    }
    &:hover, &:focus {
      text-decoration: none;
      &:after {
        @include transform(translateX(20px) translateY(180px) rotate(45deg));
      }
    }
    span, &:before {
      position: relative;
      z-index: 1;
    }
  }
}

// author section
.author-info {
  @include span(3 of 12);
}
.author-articles {
  @include span(9 of 12);
  max-width: 680px;
  float: right;
}
