.blog-header {
  position: relative;
  background-size: cover;
  background-position: center center;
  padding-top: em-calc(36);
  border-bottom: 4px solid $grey;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  &.listing-page {
    padding-bottom: em-calc(120);
    &:after { background-color: rgba($green, 0.8); }
  }
  .blog-nav { margin-bottom: 0; }
  .row {
    position: relative;
    z-index: 1;
  }
  .blog-logo {
    float: left;
    font-size: 38px;
    font-weight: bold;
    font-family: $heading-font;
    color: #fff;
    text-transform: uppercase;
    &:before {
      content: "";
      display: inline-block;
      width: 91px;
      height: 95px;
      vertical-align: middle;
      margin-right: 10px;
      background: url(../images/logo-white.png) no-repeat center center;
    }
  }

  .menu-lite {
    float: right;
    padding: 1em 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 26px;
    a {
      color: #fff;
      @include transition(all 0.3s ease);
      &:hover, &:focus {
        @include scale(1.2);
        text-decoration: none;
      }
    }
  }

}

.post-panel {
  .post-panel-inside {
    background: #fefefe;
  }

  h4 {
    margin: 0;
    padding: 25px;
  }

  a {
    color: $dark-teal;
    font-size: 18px;
    font-weight: normal;
  }
}
