.page-title {
  margin-bottom: em-calc(30px);
  padding: em-calc(54px) 0;
  text-align: center;
  background: #e5e5e5;
}

.main-cta {
  margin: 0 0 $paragraph-margin;
  padding: em-calc(60px) 0;
  background: $teal url(/images/noise-pattern.png) repeat 0 0;

  .cta-inner {
    color: #fff;
    @include span(8 of 12);
  }

  .button {
    border-bottom-color: $dark-yellow;
    background-color: $yellow;
    @include span(4 of 12);

    &:before {
      background: $dark-yellow;
    }
  }
}

// things with dots
.dots {
  position: relative;
  &:before, &:after {
    content: $icon-dots;
    position: absolute;
    bottom: 0;
    color: $light-grey;
    @include opacity(0.16);
    @extend .icon;
    font-size: 100px;
    line-height: 0;
  }
  &:before { left: #{$gutter-width/2}px; }
  &:after { right: #{$gutter-width/2}px; }
}

// service icons
.service-icon {
  display: block;
  position: relative;
  text-align: center;
  font-size: 100px;
  line-height: 100px;
  &:before, &:after, i:before {
    @extend .icon;
  }
  &:before {
    content: $icon-hexagon-back;
    color: #fff;
  }
  &:after {
    content: $icon-hexagon-border;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  i {
    color: $black;
    font-size: 0.45em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before {
      line-height: inherit;
    }
  }
  &.strategy {
    &:after { color: $green; }
    i:before { content: $icon-strategy; }
  }
  &.design {
    &:after { color: $teal; }
    i:before { content: $icon-design; }
  }
  &.development {
    &:after { color: $dark-green; }
    i:before { content: $icon-development; }
  }
  &.marketing {
    &:after { color: $dark-teal; }
    i:before { content: $icon-marketing; }
  }
  &.maintenance {
    &:after { color: $yellow; }
    i:before { content: $icon-maintenance; }
  }
  &.growth {
    &:after { color: $grey; }
    i:before { content: $icon-growth; }
  }
}
// service icon list
.service-icons {
  position: relative;
  list-style-type: none;
  padding: em-calc(22) 0;
  border-top: 4px solid $grey;
  border-bottom: 4px solid $grey;
  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $grey;
  }
  &:before { top: -16px; }
  &:after { bottom: -16px; }
  li {
    display: inline-block;
    font-family: $heading-font;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: $black;
  }
}
