.page-title {
  margin-bottom: em-calc(30px);
  padding: em-calc(54px) 0;
  text-align: center;
  background: #e5e5e5;
}

.main-cta {
  margin: 0 0 $paragraph-margin;
  padding: em-calc(60px) 0;
  background: $teal url(/images/noise-pattern.png) repeat 0 0;

  .cta-inner {
    color: #fff;
    @include span(8 of 12);
  }

  .button {
    border-bottom-color: $dark-yellow;
    background-color: $yellow;
    @include span(4 of 12);

    &:before {
      background: $dark-yellow;
    }
  }
}

// things with dots
.dots {
  position: relative;
  &:before, &:after {
    content: $icon-dots;
    position: absolute;
    bottom: 0;
    color: $light-grey;
    @include opacity(0.16);
    @extend .icon;
    font-size: 100px;
    line-height: 0;
  }
  &:before { left: #{$gutter-width/2}px; }
  &:after { right: #{$gutter-width/2}px; }
}
