#contact-map {
  width: 100%;
  border: 12px solid #fff;
  margin-bottom: em-calc(46);
  @media #{$medium-down} { height: 460px; }
  &:after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 45.8%;
    @media #{$medium-down} { padding-bottom: 0; }
  }
  > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  img { max-width: none; } // gmaps image fix
}

.phone-directory {
  h4 { color: $green; }
}
