@import '../bower_components/susy/sass/_susy';

$susy: (
  columns: 12,
  container: 1200px,
  column-width: 70px,
  gutter-position: inside-static,
  gutters: 30px/70px
);

/* Media Queries */
$bpSmall: 'only screen and (max-width: 40em)';
$bpMedium: 'only screen and (min-width: 40.063em)';
$bpLarge: 'only screen and (min-width: 64.063em)';
$bpXLarge: 'only screen and (min-width: 90.063em)';
$bpXXLarge: 'only screen and (min-width: 120.063em)';

.row {
  margin-bottom: em-calc(35px);
  @include container();
}

.row-flush {
  @include container();
}

@media #{$bpSmall} {
  .row {
    
  }
}

.full {
  @include span(12 of 12);
  float: none;
}

.half {
  @include span(6 of 12);
}

@media #{$bpSmall} {
  .half {
    @include span(12 of 12);
  }
}

.one-third {
  @include span(4 of 12);
}

@media #{$bpSmall} {
  .one-third {
    @include span(12 of 12);
  }
}
