@import '../bower_components/susy/sass/_susy';

$susy: (
  global-box-sizing: border-box,
  columns: 12,
  container: 1200,
  gutter-position: split
);

$row-width: em-calc(1200);
$total-columns: 12;
$column-gutter: em-calc(30);

/* Media Queries */
$bpSmall: 'only screen and (max-width: 40em)';
$bpMedium: 'only screen and (min-width: 40.063em)';
$bpLarge: 'only screen and (min-width: 64.063em)';
$bpXLarge: 'only screen and (min-width: 90.063em)';
$bpXXLarge: 'only screen and (min-width: 120.063em)';


.row {
  @include container();
}

@media #{$bpSmall} {
  .row {
    @include container();
  }
}
