.hero-slideshow {
  position: relative;
  max-width: 1300px;
  margin: -45px auto 45px;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.28%;
  }
  @media #{$medium-down} {
    background-color: $black;
  }

  canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .current, .next {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    img {
      display: block;
      width: 100%;
    }
    @media #{$medium-down} {
      bottom: auto;
      height: auto;
    }
  }
  .current {
    z-index: 2;
    canvas {
      @include opacity(0);
    }
  }
  .slider-nav {
    position: absolute;
    top: 20px;
    right: 60px;
    z-index: 5;
    padding: em-calc(10) em-calc(16);
    margin: 0;
    background-color: rgba($black, 0.9);
    .slide-caption { display: none; }
    .title {
      color: #fff;
      &:hover, &:focus {
        text-decoration: none;
        color: $green;
      }
    }
    .active .title { color: $green; }
    @media #{$medium-down} {
      position: static;
      text-align: center;
      background-color: $black;
    }
  }
  .caption {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 95%;
    padding: em-calc(20) em-calc(120) em-calc(24) em-calc(20);
    background-color: rgba($black, 0.9);
    color: #fff;
    @media #{$medium-down} {
      position: static;
      width: 100%;
      padding: em-calc(10) em-calc(15) em-calc(30);
      background-color: $black;
    }

  }

  .caption-title {
    float: left;
    width: 36%;
    padding: em-calc(10, 70);
    font-size: 70px;
    font-face: $heading-font;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $green;

    @media #{$xlarge-down} {
      font-size: 55px;
    }

    @media #{$medium-down} {
      float: none;
      display: block;
      width: 100%;
      padding: 0;
      font-size: 42px;
      text-align: left;
    }

  }

  .caption-content {
    float: right;
    width: 64%;
    font-size: 22px;
    p { margin-bottom: 12px; }
    *:last-child { margin-bottom: 0; }
    @media #{$medium-down} {
      float: none;
      width: 100%;
      font-size: 18px;
    }
  }
  .landing-caption {
    bottom: 24px;
    max-width: 920px;
    padding-left: em-calc(50);
    @media #{$medium-down} {
      padding-left: em-calc(15);
    }
    .caption-title { display: none; }
    .caption-content { width: 100%; }
    h1 {
      font-weight: bold;
      color: #fff;
    }
  }
  .slide-trigger {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    overflow: hidden;
    background-color: $black;
    text-indent: -999px;
    &:before {
      @extend .icon;
      content: $icon-right;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      @include translate(0, -50%);
      color: #fff;
      font-size: 80px;
      text-align: center;
      text-indent: 0;
    }
    &:hover, &:focus {
      text-decoration: none;

      &:before { color: $green; }
    }
    @media #{$medium-down} { display: none; }
  }
}

.home-portfolio {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 40%;
    left: -10%;
    width: 120%;
    height: 100%;
    background-color: #e5e5e5;
    @include rotate(-5deg);
    z-index: -1;
  }

  .section-title {
    color: $teal;
    line-height: 0.85;
    margin-bottom: em-calc(40, 110);

    &:after {
      color: $medium-grey;
      top: 0.75em;
    }
  }

  .description {
    @media #{$small-only} { display: none; }
  }

  .menu-lite {
    color: $teal;
    a {
      color: $dark-teal;
      text-transform: none;
      &:hover { color: $teal; }
    }
  }

  .desktop {
    position: absolute;
    bottom: 20px;
    left: 60%;
    width: 700px;
    height: 509px;
    background-size: 100% 100%;

    @media #{$small-only} {
      position: relative;
      bottom: 0;
      left: 0;
      width: 320px;
      height: 233px;
      margin: 0 auto $mobile-paragraph-margin;
    }
  }

  .screen-inner {
    position: absolute;
    overflow: none;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.featured-clients {
  @include clearfix();

  li {
    position: relative;
    @include span(3 of 12);
    height: 150px;
    text-align: center;
    @include opacity(0.70);
    @include transition(0.8s ease-in);
    @media #{$medium-only} {
      width: 50%;
      margin-bottom: $paragraph-margin;
    }
    @media #{$small-only} {
      width: 100%;
      margin-bottom: $mobile-paragraph-margin;
    }
    &:hover {
      @include opacity(1);
      @include transition(0.4s ease-in);
    }

    &:before {
      content: "";
      position: absolute;
      left: 7px;
      right: 7px;
      top: 0;
      height: 150px;
      background: rgba(255, 255, 255, 0.14);
    }
  }

  img {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
  }
}

.home-pulse {
  .section-title {
    margin-bottom: 65px;
    line-height: 0.55;
    @media #{$medium-down} { line-height: .6; }
  }

  .item-panel-inside {
    min-height: 300px;
  }
  .home-news-icon {
    display: block;
    width: 55px;
    height: 57px;
    margin: 0 auto;
    background: url(../images/news-icon.svg) no-repeat center center;
    background-size: 100% auto;
    .no-svg & { background: url(../images/news-icon.png) no-repeat center center; }
  }
  .twitter {
    .profile_image {
      float: left;
    }
    .user {
      float: right;
      padding-top: 12px;
      text-align: right;
      font-size: 18px;
      .name { color: $dark-teal; }
    }
    .text {
      clear: both;
      padding: 30px 0;
      font-size: 20px;
    }
    .bottom {
      @include clearfix;
      time {
        float: left;
        margin-top: 0;
        font-size: 16px;
        font-weight: normal;
        a {
          color: $dark-teal;
        }
      }
      .actions {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          float: right;
          padding-left: 30px;
          a {
            font-size: 0;
            line-height: 0;
            color: $dark-teal;
            &:hover, &:focus {
              color: $yellow;
              text-decoration: none;
            }
            &:before {
              @extend .icon;
              font-size: 20px;
              line-height: 1;
            }
            &.follow:before { content: $icon-plus; }
            &.reply:before { content: $icon-reply; }
            &.retweet:before { content: $icon-retweet; }
            &.favorite:before { content: $icon-favorite; }
          }
        }
      }
    }
  }

  @media #{$medium-down} {
    .twitter {
      // display: none;
    }

    .item-panel {
      width: 50%;
    }
  }

  @media #{$small-only} {
    .item-panel {
      width: 100%;
    }
  }
}

.home-clients {
  background: url(/images/jungle-overlay.png) bottom center/cover no-repeat $green;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: -moz-linear-gradient(top,rgba($green,0) 0, $green 100%);
    background-image: -webkit-linear-gradient(top,rgba($green,0) 0, $green 100%);
    background-image: -o-linear-gradient(top,rgba($green,0) 0, $green 100%);
    background-image: -ms-linear-gradient(top,rgba($green,0) 0, $green 100%);
    background-image: linear-gradient(to bottom,rgba($green,0) 0, $green 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ACCA32', endColorstr='#FFACCA32', GradientType=0);
  }

  > div {
    position: relative;
    z-index: 1;
  }
}

.home-blog {
  @media #{$medium-down} {
    padding-bottom: 0;
  }

  .section-title {
    font-size: em-calc(76);

    @media #{$medium-down} {
      font-size: em-calc(46);
    }
  }
}

.home-marketing {
  .item-panel {
    color: $light-grey;

    .dots {
      text-align: center;
    }

    .dots:before, .dots:after {
      bottom: 11px;
    }

    a {
      color: $teal;

      &:hover, &:focus {
        color: $dark-teal;
      }
    }
  }
  .number {
    position: relative;
    font-size: em-calc(220);
    text-align: right;
    padding-bottom: 50%;
    @media #{$large-down} {
      font-size: em-calc(180);
    }
    @media #{$medium-down} {
      width: 450px;
      height: 220px;
      margin: 0 auto;
      padding-bottom: 0;
    }
    @media #{$small-only} {
      width: 100%;
      height: 240px;
    }

    .arrow {
      @include border-radius(50%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 42%;
      padding-bottom: 42%;
      background: url(/images/arrow.png) no-repeat center top;
      background-size: contain;

      &.down {
        @include transform(rotate(180deg));
      }
    }

    .value {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      display: block;
    }

    .metric {
      font-size: em-calc(12);
    }
  }
}
