/* Structure */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {

}

.container {
  overflow: hidden;
}

/* Header */
[role="banner"] {
  margin-bottom: 45px;
}

.top-bar {
  text-align: right;
  background: $green;
  .row { margin-bottom: 0; }
}

.super-nav {
  display: inline-block;
  vertical-align: top;
  padding: em-calc(13) 0;
  margin: 0;
  list-style-type: none;

  li {
    float: right;
  }

  a {
    display: block;
    padding: 0 0.625em;
    font-family: 'effra', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #5f730d;
    text-transform: uppercase;
  }
}

.logo {
  position: absolute;
  top: 0;
  padding: 15px 0 25px;
  width: 256px;
  text-align: center;
  background: rgba(255, 255, 255, 0.96);
  @include transition(all 0.5s ease);

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 15px;
    @include transform(rotate(-2deg));
    border-bottom: 4px solid #d5d5d5;
    background: #fff;
    @include transition(all 0.5s ease);
  }

  .speak {
    position: absolute;
    top: 70px;
    left: 14px;
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.6s ease);
  }

  &:hover {
    padding-top: 40px;

    &:after {
      @include transform(rotate(0deg));
    }

    .speak {
      opacity: 1;
      visibility: visible;
      top: 90px;
    }
  }
}

.main-nav {
  background: $dark-black;
  border-bottom: 4px solid $grey;

  ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;

    li {
      float: left;
      position: relative;
      padding: 44px 23px;
    }

    a {
      display: block;
      color: $grey;
      font-family: 'effra', sans-serif;
      font-size: 24px;
      text-transform: uppercase;
      border-left: 1px solid #131316;
      border-bottom: 1px solid $grey;
      position: relative;
      padding-bottom: 21px;

      &:after {
        content: '\e600';
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
        padding: 10px 15px;
        @include size(22px, 22px);
        color: $grey;
        font-size: 22px;
        font-family: 'icomoon';
        background: $dark-black;
      }

      &.nav-who:after {
        content: $icon-banana-small;
      }

      &.nav-what:after {
        content: $icon-monitor;
      }

      &.nav-work:after {
        content: $icon-awards-small;
      }

      &.nav-contact:after {
        content: $icon-contact;
      }

      &.nav-blog:after {
        content: $icon-blog;
      }

      &:hover {
        color: $green;
        text-decoration: none;
        background: #222224;
        border-bottom-color: $green;

        &:after {
          color: $green;
        }
      }
    }

    li:first-child a {
      border-left: 0;
    }
  }
}

/* Main */
[role="main"] {
  @include span(9 of 12);
}

@media #{$bpSmall} {
  [role="main"] {
    @include span(12 of 12);
  }
}

/* Sidebar */
[role="complementary"] {
  @include span(3 of 12 last);
}

@media #{$bpSmall} {
  [role="complementary"] {
    @include span(12 of 12);
  }
}

/* Footer */
[role="contentinfo"] {
  padding: 22px 0 0;
  color: $grey;
  font-size: 16px;
  background: $black;
  border-bottom: 4px solid #000;

  .row { margin-bottom: 0; }

  .footer-social {
    @include span(5 of 12);
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .bananas {
    position: relative;
    @include span(2 of 12);
    text-align: center;
    &:after {
      content: "";
      background-color: #000;
      position: absolute;
      left: 50%;
      bottom: -75px;
      margin-left: -75px;
      width: 150px;
      height: 150px;
      @include transform(rotate(45deg) skew(5deg, 5deg));
      @include transition(transform 0.3s ease);
    }
    &:hover {
      &:after {
        @include animation(pewpew 0.3s 2);
      }
      a {
        &:before {
          content: "";
          position: absolute;
          left: -20px;
          bottom: -40px;
          top: -60px;
          right: -20px;
          background: url(../images/explosion.gif) no-repeat center center;
        }
      }
    }
    a {
      display: block;
      margin: 0 auto;
      position: relative;
      left: 10px;
      width: 70px;
      height: 70px;
      background: url(../images/bananas.png) no-repeat center center;
      z-index: 1;
    }
    .shooting-banana {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 40px;
      height: 40px;
      margin-left: -20px;
      margin-top: -20px;
      background: url(../images/bananas.png) no-repeat center center;
      background-size: contain;
      z-index: 1;
    }
  }

  .footer-meta {
    @include span(5 of 12);
    text-align: right;
  }
}

@-webkit-keyframes pewpew {
  0%   { @include transform(rotate(45deg) skewX(5deg) skewY(5deg)); }
  50% { @include transform(rotate(45deg) skewX(10deg) skewY(10deg)); }
  100%   { @include transform(rotate(45deg) skewX(5deg) skewY(5deg)); }
}
@-moz-keyframes pewpew {
  0%   { @include transform(rotate(45deg) skewX(5deg) skewY(5deg)); }
  50% { @include transform(rotate(45deg) skewX(10deg) skewY(10deg)); }
  100%   { @include transform(rotate(45deg) skewX(5deg) skewY(5deg)); }
}
@-o-keyframes pewpew {
  0%   { @include transform(rotate(45deg) skewX(5deg) skewY(5deg)); }
  50% { @include transform(rotate(45deg) skewX(10deg) skewY(10deg)); }
  100%   { @include transform(rotate(45deg) skewX(5deg) skewY(5deg)); }
}
@keyframes pewpew {
  0%   { @include transform(rotate(45deg) skewX(5deg) skewY(5deg)); }
  50% { @include transform(rotate(45deg) skewX(10deg) skewY(10deg)); }
  100%   { @include transform(rotate(45deg) skewX(5deg) skewY(5deg)); }
}

/* Helper Classes */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left, [data-text-align='left'] {
  text-align: left;
}

.text-right, [data-text-align='right'] {
  text-align: right;
}

.text-center, [data-text-align='center'] {
  text-align: center;
}

.cf {
  @include clearfix();
}

.show {
  display: block;
}

/* Hide from browsers */
.hide, [hidden] {
  display: none;
}

/* Hide from browsers & screenreaders */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide from browsers, available to screenreaders */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide from browsers & screenreaders, maintain layout */
.invisible {
  visibility: hidden;
}

/* The Kellum Method */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Clearfix: contain floats */
.cf {
  @include clearfix();
}

::-moz-selection {
  background: #62aaf2;
  color:#fff;
  text-shadow: none;
}

::selection {
  background:#62aaf2;
  color:#fff;
  text-shadow: none;
}
