// portfolio slider
.port-slider {
  .thumbs {
    @include clearfix;
  }
  .thumbnail, .instructions {
    display: block;
    @include span(3 of 12);
  }
  .thumbnail {
    font-size: 0;
    line-height: 0;
    &:after {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 75%;
    }
  }
}
