// portfolio slider
.port-slider {
  .screens {
    position: relative;
    margin-bottom: em-calc(36);
    &:after {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 58.5%;
      @media #{$small-only} { padding-bottom: 98.2%; }
    }
    .screen {
      position: absolute;
      background-size: 100% 100%;
      @include opacity(0.5);
      &.active { @include opacity(1); }
    }
    .screen-inner {
      position: absolute;
      overflow-y: scroll;
    }
    .active {
      z-index: 3;
    }
    &.initial {
      .screen { @include opacity(1); }
    }
  }
  &.single-screen {
    @media #{$small-only} {
      .screens:after { padding-bottom: 58.5%; }
    }
  }
  .slider-nav {
    @media #{$small-only} { display: none; }
    a {
      position: absolute;
      top: 25%;
      display: block;
      height: 50%;
      width: 160px;
      font-size: 0;
      line-height: 0;
      z-index: 2;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -10px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }
    }
    .port-left {
      left: 0;
      &:after {
        left: 15px;
        border-right: 35px solid $black;
      }
    }
    .port-right {
      right: 0;
      &:after {
        right: 15px;
        border-left: 35px solid $black;
      }
    }
  }
  .thumbs {
    @include clearfix;
  }
  .instructions {
    display: block;
    @include span(3 of 12);
  }
  .thumbs-slider {
    position: relative;
    @include span(9 of 12);
    padding-left: 15px;
    padding-right: 0;
    .slick-list {
      padding: 8px 0;
      margin-bottom: 20px;
      overflow: hidden;
    }
    .slick-prev, .slick-next {
      position: absolute;
      top: 38%;
      text-indent: -9999px;
      background: $yellow;
      border: none;
      width: 48px;
      height: 48px;
      &:after {
        content: $icon-left;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        font-size: 32px;
        line-height: 48px;
        text-indent: 0;
        text-align: center;
        @extend .icon;
      }
    }
    .slick-prev {
      left: 15px;
    }
    .slick-next {
      right: 0;
      &:after {
        content: $icon-right;
        right: 0;
      }
    }
  }
  @media #{$small-only} {
    .instructions {
      width: 100%;
      margin-bottom: $mobile-paragraph-margin;
    }
    .thumbs-slider { width: 100%; }
    .thumbnail {
      padding: 0 8px;
    }
  }
  .thumbnail {
    display: block;
    padding: 0 10px;
    img {
      display: block;
      width: 100%;
    }
    &.active img {
      @include box-shadow(0 0 0 8px $green);
      @media #{$small-only} { @include box-shadow(0 0 0 4px $green); }
    }
  }
  .instructions {
    font-size: 20px;
    color: $grey;
    text-align: center;
    &:before {
      content: $icon-eye;
      display: block;
      font-size: 70px;
      @extend .icon;
    }
  }
}
.screen {
  &.desktop {
    background: url(../images/desktop.png) no-repeat center center;
    &:after {
      content: "";
      position: absolute;
      width: 126.2%;
      height: 9.55%;
      left: -13.1%;
      bottom: -4%;
      background: url(../images/desktop_bottom.png) no-repeat center center;
      background-size: 100% 100%;
    }
    .screen-inner {
      width: 93.45%;
      left: 3.27%;
      top: 6.05%;
      height: 84.08%;
    }
    .scroll-msg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: em-calc(20, 26);
      background-color: rgba($black, 0.92);
      color: #fff;
      text-align: center;
      font-family: $heading-font;
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;

      @media #{$small-only} {
        display: none;
      }

      span {
        display: block;
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
        font-style: italic;
      }
    }
  }
  &.tablet {
    background: url(../images/ipad.png) no-repeat center center;
    .screen-inner {
      width: 80.27%;
      height: 80.59%;
      left: 9.86%;
      top: 9.85%;
    }
    &.horizontal {
      background-image: url(../images/ipad-h.png);
      .screen-inner {
        width: 80.59%;
        height: 80.27%;
        left: 9.85%;
        top: 9.86%;
      }
    }
  }
  &.phone {
    background: url(../images/iphone.png) no-repeat center center;
    .screen-inner {
      width: 83.94%;
      height: 71.43%;
      left: 8.03%;
      top: 14.14%;
    }
    @media #{$small-only} {
      z-index: 3;
    }
  }
}

// slick sliders
.slick-slider {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.slick-list {
  position: relative;
  // overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  .slick-loading & {
    background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-dots {
  list-style-type: none;
  margin: em-calc(10) auto;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    padding: 0 4px;
  }
  button {
    display: block;
    width: 20px;
    height: 20px;
    background-color: $grey;
    text-indent: -999px;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    @include border-radius(10px);
    @include transition(background 0.2s ease);
    &:hover, &:focus {
      background-color: rgba($green, 0.7);
      outline: none;
    }
  }
  .slick-active button {
    background-color: $green;
  }
}

.quote-slider {
  max-width: 600px;
  margin: 0 auto;
}

.fullwidth-slider {
  background-color: #fff;
  padding: em-calc(40) 0;

  .slick-list {
    max-width: 1200px;
    margin: 0 auto;
  }

  figure {
    padding: 0 em-calc(20);
    margin: 0;

    img {
      width: 100%;
    }
  }

  .slick-photo-wrapper {
    position: relative;
  }

  figcaption {
    display: block;
    padding: em-calc(40) em-calc(20) 0;
    text-align: center;
    color: $grey;
  }

  .slick-prev, .slick-next {
    visibility: hidden;
    width: 60px;
    padding: 0;
    background-color: $yellow;
    color: #000;
    border: none;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    height: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 13px;
      margin-top: -40px;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
  }

  .slick-prev {
    left: 0;

    &:after {
      border-right: 35px solid #242529;
    }
  }

  .slick-next {
    right: 0;

    &:after {
      border-left: 35px solid #242529;
    }
  }

  .slick-active:hover .slick-prev, .slick-active:hover .slick-next {
    visibility: visible;
  }
}
