// troop grid/accordions
.troop-list {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  > li {
    @include span(4 of 12);
    padding-top: #{$gutter-width/2}px;
    padding-bottom: #{$gutter-width/2}px;
    @include transition(background 0.3s ease);
    &:hover, &.active {
      .trigger .hover-image {
        @include opacity(1);
      }
    }
    &:hover {
      .trigger {
        &:before {
          @include rotate(-14deg);
          bottom: -40px;
          background-color: $teal;
        }
        &:after {
          color: #fff;
          @include scale(1.4);
          bottom: 10px;
        }
      }
    }
    &.active {
      background-color: $teal;
      .profile {
        @include opacity(1);
        visibility: visible;
      }
    }
  }
  .trigger {
    display: block;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      right: -40px;
      bottom: -50px;
      width: 110%;
      height: 60px;
      @include rotate(-10deg);
      background-color: rgba(#fff, 0.85);
      z-index: 2;
      @include transition(all 0.3s ease);
    }
    &:after {
      content: "+";
      position: absolute;
      right: 15px;
      bottom: 0px;
      font-size: 32px;
      line-height: 1;
      color: $teal;
      z-index: 3;
      @include transition(all 0.3s ease);
    }
    img {
      display: block;
      width: 100%;
    }
    .hover-image {
      position: absolute;
      left: 0;
      top: 0;
      @include opacity(0);
      @include transition(opacity 0.2s ease);
    }
  }
  .profile {
    position: absolute;
    @include opacity(0);
    visibility: hidden;
    left: 0;
    right: 0;
    background-color: $dark-black;
    z-index: 4;
  }
  .profile-header,
  .profile-content,
  .profile-footer {
    @include clearfix;
    padding: em-calc(20) em-calc(15);
  }
  .profile-header {
    background-color: $teal;
    .name {
      @include span(5 of 12);
      font-size: 50px;
      line-height: 1;
      color: #fff;
      span {
        display: block;
        font-size: 30px;
        color: $yellow;
        text-transform: uppercase;
      }
    }
    blockquote {
      margin: 0;
      @include span(7 of 12);
    }
  }
  .profile-content {
  }
  .profile-footer {
    background-color: $black;
  }
}
