// troop grid/accordions
.troop-list {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  > li {
    @include span(4 of 12);
    padding-top: #{$gutter-width/2}px;
    padding-bottom: #{$gutter-width/2}px;
    @include transition(background 0.3s ease);
    &:hover, &.active {
      .trigger .hover-image {
        @include opacity(1);
      }
    }
    &:hover {
      .trigger {
        &:before {
          @include rotate(-14deg);
          bottom: -40px;
          background-color: $teal;
        }
        &:after {
          color: #fff;
          @include scale(1.4);
          bottom: 10px;
        }
      }
    }
    &.active {
      background-color: $teal;
      .profile {
        @include opacity(1);
        visibility: visible;
      }
      .trigger {
        &:before {
          @include rotate(0);
          bottom: -60px;
        }
        &:after {
          bottom: -40px;
        }
      }
    }
    &.inactive {
      @include opacity(0.7);
      .trigger {
        &:before {
          @include rotate(0);
          bottom: -60px;
        }
        &:after {
          bottom: -40px;
        }
      }
    }
  }
  .trigger {
    display: block;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      right: -40px;
      bottom: -50px;
      width: 110%;
      height: 60px;
      @include rotate(-10deg);
      background-color: rgba(#fff, 0.85);
      z-index: 2;
      @include transition(all 0.3s ease);
    }
    &:after {
      content: "+";
      position: absolute;
      right: 15px;
      bottom: 0px;
      font-size: 32px;
      line-height: 1;
      color: $teal;
      z-index: 3;
      @include transition(all 0.3s ease);
    }
    img {
      display: block;
      width: 100%;
    }
    .hover-image {
      position: absolute;
      left: 0;
      top: 0;
      @include opacity(0);
      @include transition(opacity 0.2s ease);
    }
  }
  .profile {
    position: absolute;
    @include opacity(0);
    visibility: hidden;
    left: 0;
    right: 1px;
    background-color: $dark-black;
    color: $grey;
    z-index: 4;
  }
  .profile-header {
    position: relative;
    @include clearfix;
    padding: em-calc(24) em-calc(15);
    background-color: $teal;
    // this is attached to blockquote b/c we need clearfix and no overflow:hidden on the profile-header
    blockquote:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -22px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 600px 22px 0;
      border-color: transparent $teal transparent transparent;
    }
    .name {
      @include span(5 of 12);
      font-size: 50px;
      font-family: $heading-font;
      line-height: 1;
      color: #fff;
      span {
        display: block;
        font-family: $body-font;
        font-size: 30px;
        color: $yellow;
        text-transform: uppercase;
      }
    }
    blockquote {
      margin: 8px 0 0;
      @include span(7 of 12);
      color: #fff;
    }
  }
  .profile-content {
    @include clearfix;
    padding: em-calc(42) em-calc(15) em-calc(24);
  }
  .profile-block {
    @include clearfix;
    .title {
      @include span(3 of 12);
      text-align: right;
      font-family: $heading-font;
      font-weight: 800;
      font-size: 24px;
      color: $teal;
      text-transform: uppercase;
    }
    p {
      @include span(9 of 12);
    }
  }
  .profile-footer {
    @include clearfix;
    padding: em-calc(24) em-calc(15);
    background: $black url(/images/noise-pattern.png);
    text-transform: uppercase;
    .latest-update, .profile-socials {
      @include span(6 of 12);
      margin: 0;
    }
    .latest-update {
      padding-top: em-calc(16);
      padding-bottom: em-calc(16);
    }
    .latest-update a {
      color: $green;
      text-decoration: underline;
      &:hover { text-decoration: none; }
    }
  }
  .profile-socials {
    float: right;
    list-style-type: none;
    text-align: right;
    li {
      display: inline-block;
    }
    a {
      font-size: 0;
      line-height: 0;
      text-align: center;
      &:before, &:after {
        font-size: 54px;
        line-height: 1;
        font-family: 'icomoon';
      }
      &:before {
        content: $icon-hexagon-back;
        color: $green;
      }
      &:after { color: #fff; }
    }
    .twitter:after { content: ""; }
    .facebook:after { content: ""; }
    .linkedin:after { content: ""; }
    .gplus:after { content: ""; }
    .instagram:after { content: ""; }
    .pinterest:after { content: ""; }
  }
}
