@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?6dg410');
  src:url('fonts/icomoon.eot?#iefix6dg410') format('embedded-opentype'),
    url('fonts/icomoon.woff?6dg410') format('woff'),
    url('fonts/icomoon.ttf?6dg410') format('truetype'),
    url('fonts/icomoon.svg?6dg410#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// links and buttons
a {
  color: $teal;
  text-decoration: none;
  &, &:before,  &:after {
    @include transition(color 0.25s ease, background 0.25s ease);
  }
  &:hover, &:focus {

  }
}

// icon class
.icon {
  font-family: $icon-font;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
